VITE_APP_BASE_URL=https://goinvest-dev.uicgroup.tech/api/panel/v1/
VITE_APP_SITE_KEY=6LdBk2ApAAAAAKpnWpuBA51vaSzBTMXfczKTqGQw
VITE_APP_CKEDITOR_KEY=eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3MzUwODQ3OTksImp0aSI6ImNmNmRjOThmLWRiNjctNDQ3Ni1hN2E0LTJlY2RhZTEyNjlkMiIsInVzYWdlRW5kcG9pbnQiOiJodHRwczovL3Byb3h5LWV2ZW50LmNrZWRpdG9yLmNvbSIsImRpc3RyaWJ1dGlvbkNoYW5uZWwiOlsiY2xvdWQiLCJkcnVwYWwiLCJzaCJdLCJ3aGl0ZUxhYmVsIjp0cnVlLCJsaWNlbnNlVHlwZSI6InRyaWFsIiwiZmVhdHVyZXMiOlsiKiJdLCJ2YyI6ImIzMzBhNjczIn0.Aiq6CLCRydGL3FOtIxYlHnTRo9qLEaXWINtnVICNW6yeyRllCW0Hph1L4Up50r25fquUmvbQ2U-fH0j3CY349g