
/* Bottom shadow */
.bottom-shadow {
  box-shadow: inset 0px -1px 0px rgba(102, 117, 137, 0.3);
}

.static-text > * {
  margin-bottom: 24px !important;
}
.static-text p,
.static-text li {
  text-align: justify;
  font-size: 16px;
  color: #121c25;
}
.static-text ol,
.static-text ul {
  padding-left: 16px;
}
.static-text ul li {
  position: relative;
}
.static-text ol li {
  list-style: auto;
}
.static-text ul li:before {
  position: absolute;
  content: "";
  left: -10px;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #596066;
}
.static-text a {
  color: #4489f7;
}
.static-text a:hover {
  text-decoration: underline;
}
.static-text img {
  width: 100%;
  max-height: 438px;
  border-radius: 8px;
}
.static-text b {
  font-weight: 500;
}
